<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Data Science Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dark-mode@2.1.2/css/dark-mode.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jasonlong/cayman-blog/css/cayman.css">
  </head>
  <body>
    <h1>Data Science Portfolio</h1>

    <h2>Python:</h2>

    <h3>Restaurant Reviews Sentiment Analysis (Machine Learning/NLP)</h3>
    <p>Successfully analyzed 5500 restaurant reviews using natural language processing techniques, including TF-IDF, text classification, and sentiment analysis.</p>
    <ul>
      <li>Employed a range of machine learning models, including Naïve Bayes, Logistic, Random Forest, XGBoost, and SVC, using a mixed cross-validated grid search and cross-validated halving grid search and cross-validated random grid search to achieve high accuracy, macro average f1-score, and weighted average f1-score for text classification and sentiment analysis.</li>
      <li>Achieved a highest accuracy f1-score of 0.80 and a highest weighted average f1-score of 0.79 for text classification, and a highest accuracy f1-score of 0.71 and a highest weighted average f1-score of 0.69 for sentiment analysis.</li>
      <li>Successfully combined the text classification and sentiment analysis models to produce an aspect-based sentiment analysis table, which can be used to inform restaurant owners about areas of improvement in food, service, ambience, and price.</li>
    </ul>
    <img src="images/prediction.png">

    <h3>Inspection scheduling optimization</h3>
    <p>Developed a real-time framework for generating next-month work schedules for road inspection workers, optimizing workload and minimizing travel distance, resulting in significant efficiency and cost savings for Downer.</p>
    <ul>
      <li>Utilized Python and Gurobi to balance workload and minimize travel distance while considering constraints such as weekly, bi-weekly, and monthly road inspections and a daily driving distance limit.</li>
      <li>Processed millions of rows of Excel inputs and GPS data to create a user interface with controls for displaying schedules, routes, and route information each day for the next month.</li>
      <li>Applied advanced analytical techniques to solve a complex optimization problem, taking into account multiple constraints and using large amounts of data to achieve optimal solutions.</li>
    </ul>
    <img src="images/Optimization.png">

    <h2>R:</h2>

    <h3>Predicting Electricity Demand in Victoria</h3>
    <p>Developed a robust and accurate model to predict electricity demand, incorporating various external factors such as weather patterns, holidays, and COVID-related variables.</p>
    <ul>
      <li>Leveraged time series analysis, seasonal decomposition, Fourier transforms, and dynamic regression models to achieve high forecasting accuracy for both regular point forecasts and maximum demand predictions.</li>
      <li>Conducted rigorous model selection and assessment using various statistical measures, including the AICc, Box-Ljung test, Diebold-Mariano test, and coverage test, to ensure the model's reliability and validity.</li>
      <li>Identified
